body {
  margin: 0;
  padding: 0;
  background-color: #9c89b8;
  font-family: "Poppins", sans-serif;

  }


h1 {
  margin: 0;
  font-weight: 400;
  font-family: Georgia, serif;
}

h2 {
  margin: 0;
  font-weight: 400;
  display: inline-block;
}

.box {
  border:2px #735d78;
  background: #fff1e6;
  /*background-image: url('image.jpg');*/
  width: 50rem;
  padding: 3rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
}

.header {
  display: grid;
  grid-template-columns: 40% 60%;
}

.header-left {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 2rem;
}

.first-name {
  font-weight: 400;
  margin: 0;
}
.last-name {
  font-weight: 200;
  margin: 0;
}

.header-right {
  padding-top: 5%;
  width: 100%;
  display: grid;
  justify-items: end;
  font-size: 200;
}

.header-right p {
  display: inline-block;
}

.grey {
  background: #735d78;
  color: #fff;
  padding: 0.7rem;
  border-radius: 0.3rem;
}

.icon {
  color: rgb(223, 223, 223);
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

table {

  margin: 1rem 0 1rem 0;
  width: 100%;
  text-align: center;

}

table, th, td {
  border: 1px solid black;
}
