:root {

    --main-color: hsl(49, 100%, 50%);
    --main-color-alpha: hsla(49, 100%, 50%, 0.1);
    --bg-color: hsl(49, 100%, 88%);
    --bg-color-alpha: hsl(49, 100%, 88%,0.1);
    --shadow: hsla(49, 13%, 75%, 0.438);
}