:root{

    --main-color: hsl(200, 100%, 23%);
    --main-color-alpha: hsla(200, 100%, 23%, 0.1);
    --bg-color: hsl(200, 100%, 92%);
    --bg-color-alpha: hsl(200, 100%, 92%,.1);
    --shadow:  hsla(200, 13%, 49%, 0.438);
}